.header{
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #ddd;
    
}
label{
    font-size: 20px;
    color: #1877f2;
}
.fname, .lname{
    height: 25px;
    padding: 10px;
    font-size: 18px;
    margin-right: 10px;
}
.mail, .password , .birthday{width: 90%;
height: 25px;
padding: 10px;
font-size: 18px;
}
.submit{
    background-color: #42b72a;
    font-size: 25px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    padding: 10px;
    
}